html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
ul {
 list-style: none;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1em;
	padding: 10px 12px;
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}

#logo{
	font-size: 1.2em;
}

.no-margin{
	margin: 0px;
}

.be-red{
	background-color: #E74C3C;
}

.white{
	color: #ECF0F1;
}

.large-padding{
	padding: 5px 3px;
}

.field{
	margin-top: 1em;
}

.top-space{
	margin-top: 1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}
