html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
ul {
 list-style: none;
}
.be-red{
	background-color: #E74C3C;
}

.white{
	color: #ECF0F1;
}

.large-padding{
	padding: 5px 3px;
}

a,a:visited{
	color: inherit;
	text-decoration: none;
}

.no-margin{
	margin: 0px;
}

#logo{
	font-size: 1.2em;
}